.styledSpinner {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  border-style: solid;
  border-width: 3px;

  &.primary {
    border-color: rgba($primaryColor, 0.24);
    border-right-color: $primaryColor;
  }

  &.secondary {
    border-color: rgba($secondaryColor, 0.24);
    border-right-color: $secondaryColor;
  }

  &.white {
    border-color: rgba($whiteColor, 0.24);
    border-right-color: $whiteColor;
  }

  &.black {
    border-color: rgba($blackColor, 0.24);
    border-right-color: $blackColor;
  }

  &.small {
    width: 20px;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}