.checkboxField {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;

  input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
  }

  .checkmark {
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 1px $secondaryColor;
    transition: background-color 200ms;
  }

  input:checked ~ .checkmark {
    box-shadow: 0 0 0 1px $primaryColor;
    background-color: $secondaryColor;
    background-image: url("../../../assets/images/icons/icon-checkmark.svg");
    background-size: 14px auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  .text {
    margin-left: 12px;
    flex: 1;
  }
}