# Website
APP_ENV=development
ENFORCE_FLOW=0
VITE_ENVIRONMENT=development
VITE_DEV_ORIGIN=

# API
API_URL=https://wave-{{PROJECT_NAME}}-api-acc.lwdev.nl
VITE_API_URL=https://wave-{{PROJECT_NAME}}-api-acc.lwdev.nl
API_SESSION_SECRET=replace-with-a-random-local-secret

# Unity
UNITY_BASE_URL=
UNITY_GAME_NAME=Game
UNITY_SCENE_KEY=
VITE_UNITY_MIN_DPR=1.5
VITE_UNITY_MAX_DPR=3

# Cape
CAPE_BASE_URL=https://storage-acceptance.bycape.io/account-60/fixed
CAPE_CAMPAIGN_ID={{CAPE_ID}}
CAPE_CAMPAIGN_MARKET={{MARKET}}
CAPE_CAMPAIGN_LANGUAGE=EN

# OneTrust Cookie Consent
ONETRUST_DOMAIN_SCRIPT=

# Logging
LOG_TO_FILE=0
LOG_TO_GCP=0
LOG_STRUCTURED_CONSOLE=0
GCP_LOG_PROJECT=
GCP_LOG_KEYFILE=
GCP_REPORTING_NAME=
LOG_LEVEL=info
