# Website
ENFORCE_FLOW=0
VITE_ENVIRONMENT=$APP_ENV

API_URL=$API_URL
VITE_API_URL=$API_URL
API_SESSION_SECRET=$SESSION_SECRET

# Unity
UNITY_BASE_URL=
UNITY_GAME_NAME=Game
UNITY_VERSION=
VITE_UNITY_MIN_DPR=1.5
VITE_UNITY_MAX_DPR=3

# Cape
CAPE_BASE_URL=https://storage-acceptance.bycape.io/account-60/fixed
CAPE_CAMPAIGN_ID=
CAPE_CAMPAIGN_MARKET=
CAPE_CAMPAIGN_LANGUAGE=EN

# OneTrust Cookie Consent
ONETRUST_DOMAIN_SCRIPT=

# Logging
LOG_TO_FILE=0
LOG_TO_GCP=$LOG_TO_GCP
LOG_STRUCTURED_CONSOLE=$LOG_STRUCTURED_CONSOLE
GCP_LOG_PROJECT=
GCP_LOG_KEYFILE=
GCP_REPORTING_NAME=$GCP_REPORTING_NAME
LOG_LEVEL=info
